// mind the quotes!!!
process.env.ORACLE='YOUR GPT SERVER IP'
process.env.HOME='YOUR HOME COMPUTER IP'
process.env.BED='YOUR BEDS POSITION SEPARATED BY COMMAS'
process.env.DISCORD_BOT_KEY='YOUR DISCORD BOT KEY'
process.env.WEBHOOK_ID='YOUR WEBHOOK_ID'
