html {
    background-image:url('bg-wool-dark.png');
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%; 
    overflow: hidden;
}

a {
    user-select: none;
}

body {           
    height:100%;
    overflow: scroll;
}

.tabs {
    padding-top: 30px;
    list-style-type: none;
    display: flex;
}

.tabs li {
    margin-right: 10px;
    font-family: Monocraft;
    font-weight:300;
    font-size:48px;
    color:#e1e1e1;
}

.tab-content {
    display: none;
    font-family: Monocraft;
    font-size:19px;
    color:#fff
}

.tabs a {
    text-decoration: none;
    color: inherit;
}

.tabs li {
    margin-right: 50px;
}

.tabs a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.tabs a:hover {
    background-color: #FFAA00; 
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 40px;
}

.command-name {
    color: #FFAA00
}

@media screen and (max-width: 768px) {
    .tabs {
        flex-direction: column;
    }

    .tabs li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@font-face {
  font-family: 'Monocraft';
  src: url('Monocraft.ttf') format('truetype');
}
